.formContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 65vh;
    border: 1px solid #ffffffff;
    border-radius: 30px;
    align-items: center;
    padding: 30px;
    margin-right: 20px;
    
}

input:invalid {
    border: red solid 3px;
  }